@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-repeat: no-repeat;
     background-size: cover;
     height: 100vh;
     background: linear-gradient(135deg,rgb(0, 60, 150),rgb(31, 95, 191),rgb(57, 102, 168));
     font-family: 'Roboto', sans-serif;

}

.main-img{
    max-width: 564px;
} 
.main{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

#iniciar{
    font-size: 32px;
    padding:10px 70px 10px 70px;
    color: #fff;
    background: linear-gradient(135deg,#720918,#db2727,#ff6524, #db2727, #720918 );
    border-radius: 10px;

    text-decoration: none;
    width:50%;

    
} 

#iniciar:hover{
  border: 3px solid white;
}

@media screen and (max-width: 600px){
  .main-img{
    max-width: 364px;
  } 
}