* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-repeat: no-repeat;
     background-size: cover;
     height: 100vh;
     background: linear-gradient(135deg,rgb(0, 60, 150),rgb(31, 95, 191),rgb(57, 102, 168));

}
.main-img{
  width: 564px;
} 
.main{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.botao{
  margin-left: 88%;
}

.iniciar{
    font-size: 32px;
    padding:10px 30px 10px 30px;
    color: #fff;
    background: linear-gradient(135deg,#720918,#db2727,#ff6524, #db2727, #720918 );
    border-radius: 10px;
    width:190px;
    text-decoration: none;
    
}

.iniciar:hover{
  border: 3px solid white;
}